<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:href="@{/}" class="nav-link px-2 link-secondary">CompanyName</a></li>
                    <li><a th:href="@{/market}" class="nav-link px-2 link-dark">Market</a></li>
                    <li><a th:href="@{/bucket}" class="nav-link px-2 link-dark">Bucket</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'CREATOR')">
                        <a th:href="@{/users}" class="nav-link px-2 link-dark">Users</a>
                    </li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <th:block sec:authorize="authenticated">
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                            <li><a class="dropdown-item" th:href="@{/orders}">Your orders</a></li>
                            <li><a class="dropdown-item" th:href="@{/settings}">Settings</a></li>
                            <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                        </ul>
                    </div>
                </th:block>
                <th:block sec:authorize="!authenticated">
                    <div class="col-md-3 text-end">
                        <button type="button" class="btn btn-outline-primary me-2"
                                onclick="ref('/login')">Login
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="ref('/registration')">Sign-up
                        </button>
                    </div>
                </th:block>
            </div>
        </div>
    </header>
</th:block>
</html>